<!DOCTYPE html>
<html>
<head>
  <title>Churras Delivery</title>
</head>
<body>
  <h1>Bem-vindo ao Churras Delivery</h1>
  <nav>
    <ul>
      <li><a href="/Faça seu pedido aqui !!!">Pedidos</a></li>
      <li><a href="/Cadastre-se ">Cadastrar</a></li>
      <li><a href="/Programa de fidelização Gratis !!">Fidelização</a></li>
    </ul>
  </nav>
</body>
</html>
