<!DOCTYPE html>
<html>
<head>
  <title>Churras Delivery</title>
</head>
<body>
  <h1>Bem-vindo ao Churras Delivery</h1>
  <nav>
    <ul>
      <li><a href="/pedidos">Pedidos</a></li>
      <li><a href="/cadastrar">Cadastrar</a></li>
      <li><a href="/fidelizar">Fidelização</a></li>
    </ul>
  </nav>
</body>
</html>
